<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sist.erp.dao.MoveDAO">
	<select id="getMoves" resultType="com.sist.erp.vo.MoveVO">
	
	</select>

	<insert id="addMove">
		INSERT INTO MOVE VALUES
			(#{mseq}, #{title}, #{slaveSQ}, #{estdate}, #{branchSQ}, '결재대기', SYSDATE, #{expdate}, #{kind}, #{note})
	</insert>
	
	<insert id="addMoveAprv" parameterType="java.util.List">
		<foreach collection="list" item="item" separator="" open="INSERT ALL" close="SELECT * FROM DUAL">
		INTO MOVEAPRV VALUES
			((SELECT NVL(MAX(TO_NUMBER(MASEQ)),0)+1 FROM MOVEAPRV), #{item.moveSQ},#{item.approver},#{item.priority})
		</foreach>	
	</insert>
	
	<insert id="addMoveList" parameterType="java.util.List">
		<foreach collection="list" item="item" separator="" open="INSERT ALL" close="SELECT * FROM DUAL">
		INTO MOVELIST VALUES
			((SELECT NVL(MAX(TO_NUMBER(MLSEQ)),0)+1 FROM MOVELIST), #{item.productSQ},#{item.quantity},#{item.moveSQ})
		</foreach>
	</insert>
</mapper>
