<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sist.erp.dao.OrderDAO">

	<select id="getOrderChecks" resultType="com.sist.erp.vo.OrderCheckVO">
		SELECT O.OSEQ AS OCSEQ, O.TITLE , C.NAME ,O.NOTE, O.ESTDATE, O.STATE
	    FROM ORDERD O, CLIENT C, MEMBER MEM 
	    WHERE O.CLIENT_SQ = C.CSEQ AND O.SLAVE_SQ = MEM.MSEQ AND MEM.DEPT = #{dept}
	</select>

	<select id="getdetailList" resultType ="com.sist.erp.vo.OrderDetailVO">
		SELECT P.PSEQ , P.NAME , P.CATEGORY, O.QUANTITY AS AMOUNT, O.PRICE, (O.QUANTITY * O.PRICE) AS TOTALPRICE, P.NOTE
		FROM PRODUCT P, ORDERLIST O
		WHERE P.PSEQ = O.PRODUCT_SQ AND ORDER_SQ =#{ocseq}
	</select>

	<insert id="addOrder">
			INSERT INTO ORDERD VALUES
			(#{ocseq}, #{title}, #{slaveSq}, #{estdate}, #{clientSq}, '결재대기', SYSDATE, #{expdate}, #{note})
	</insert>

	<insert id="addOrderAprv" parameterType="java.util.List">
		<foreach collection="list" item="item" separator="" open="INSERT ALL" close="SELECT * FROM DUAL">
		INTO ORDERAPRV VALUES
			(GET_OA_SEQ(), #{item.orderSq},#{item.approver},#{item.priority},'N')
		</foreach>	
	</insert>
	
	<insert id="addOrderList" parameterType="java.util.List">
		<foreach collection="list" item="item" separator="" open="INSERT ALL" close="SELECT * FROM DUAL">
		INTO ORDERLIST VALUES
			(GET_OL_SEQ(), #{item.productSq},#{item.price},#{item.quantity},#{item.orderSq})
		</foreach>
	</insert>


	<select id="getOrderDetailByOseq" resultType="com.sist.erp.vo.OrderDetailOseqVO">
		SELECT  
		    C.CSEQ AS CLIENT_SQ,
		    C.NAME AS CLIENT_NAME,
		    C.OWNER,
		    C.PHONE,
		    C.LOCATION,
		    O.OSEQ,
		    O.TITLE,
		    O.SLAVE_SQ,
		    MEM.NAME AS SLAVE_NAME,
		    MEM.POSITION AS SLAVE_POSITION,
		    O.ESTDATE,
		    O.EXPDATE
		FROM ORDERD O, CLIENT C, MEMBER MEM
		WHERE  O.CLIENT_SQ = C.CSEQ AND O.SLAVE_SQ = MEM.MSEQ
		    AND O.OSEQ = #{oseq}
		
	</select>

	<select id="getOrderAprvByOseq" resultType="com.sist.erp.vo.OrderAprvDetailVO">

		SELECT 
		    OA.OASEQ,
		    OA.APPROVER AS APPROVER_SQ,
		    MEM.NAME AS APPROVER_NAME,
		    MEM.POSITION AS APPROVER_POSITION,
		    PRIORITY,
		    STATE
		FROM ORDERAPRV OA, MEMBER MEM
		WHERE OA.APPROVER = MEM.MSEQ
		    AND ORDERD_SQ = #{oseq}
		ORDER BY PRIORITY
	</select>

	<update id="approveOrderAprv">
		UPDATE ORDERAPRV SET STATE = 'Y' WHERE ORDERD_SQ = #{param1} AND APPROVER = #{param2}
	</update>

	<select id="getOrderDetailListByOseq" resultType="com.sist.erp.vo.OrderListDetailVO">
	SELECT
	   OL.OLSEQ,
	   OL.PRODUCT_SQ,
	   P.NAME AS PRODUCT_NAME,
	   OL.QUANTITY,
	   P.CATEGORY,
	   P.NOTE
	FROM 
	    ORDERLIST OL, PRODUCT P
	WHERE OL.PRODUCT_SQ = P.PSEQ
	    AND OL.ORDER_SQ = #{oseq}
	ORDER BY OL.OLSEQ
	</select>


	<select id="checkAprvFinished" resultType="java.lang.String">
		SELECT STATE FROM ORDERAPRV 
		WHERE PRIORITY = (SELECT MAX(PRIORITY) FROM ORDERAPRV GROUP BY ORDERD_SQ HAVING ORDERD_SQ = #{oseq})
		    AND ORDERD_SQ = #{oseq}
	</select>
	
	<update id="finishAprv">
		UPDATE ORDERD SET STATE = '결재완료' WHERE OSEQ = #{oseq}
	</update>

	<insert id="addHistoryofOrder">
		<selectKey order="BEFORE" keyProperty="MY,TARGET" resultType="hashmap">
			SELECT MEM.DEPT AS MY, O.CLIENT_SQ AS TARGET  
			FROM ORDERD O, MEMBER MEM 
			WHERE O.SLAVE_SQ = MEM.MSEQ AND O.OSEQ = #{param1}
		</selectKey>
		
		INSERT
		INTO INVENTORY 
		VALUES (GET_INVEN_SEQ(), #{MY}, #{TARGET}, #{param2.productSq}, #{param2.quantity},
		        (SELECT NVL(SUM(QUANTITY),0) FROM INVENTORY WHERE BRANCH_SQ = #{MY} AND PRODUCT_SQ = #{param2.productSq})+#{param2.quantity},
		        '발주', 'A', SYSDATE)
	</insert>
	

	<update id="rejectOrderAprv">
		UPDATE ORDERAPRV SET STATE = 'R' WHERE ORDERD_SQ = #{param1} AND APPROVER = #{param2}
	</update>
	
	<update id="setAprvRejected">
		UPDATE ORDERD SET STATE = '반려됨' WHERE OSEQ = #{oseq}
	</update>

</mapper>